# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Covid 19\Tafe Online session plan\Granville Semester 2 2020\Diploma of Software Development ICT50715\Projects\Flags\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
